
.player{
	height: 126px;
	position: fixed;
	width: 100%;
}
.p1{
	top: 60px;
}
.p2{
	bottom: 60px;

}
.p1.isUser{
	bottom: 60px !important;
	top: initial;
}
.p2.isOpponent{
	top: 60px !important;
	bottom: initial;
}

.cards{
	position: absolute;
	text-align: center;
	width: 100%;
}
.cards.flop{
	top: calc(50% - 58px);
}
.cards img{
	box-shadow: -1px 0 3px #333;
	cursor: pointer;
	display: inline-block;
	margin-left: -20px;
	position: relative;
	width: 86px;
}
.cards.flop img{
	margin-left: 0;
}
.p2 .cards img.chosen{
	top: -10px;
	height: 126px;
}
.player button{
	bottom: 225px;
	left: calc(50% - 100px);
	position: absolute;
	width: 200px
}