.cards{
	position: absolute;
	text-align: center;
	width: 100%;
}
.p1 .cards{
	top: 80px;
}
.p2 .cards{
	bottom: 120px;
}
.cards.flop{
	top: calc(50% - 58px);
}
.cards img{
	box-shadow: -1px 0 3px #333;
	cursor: pointer;
	display: inline-block;
	margin-left: -20px;
	position: relative;
	width: 86px;
}
.cards.flop img{
	margin-left: 0;
}
.p2 .cards img.chosen{
	top: -10px;
	height: 126px;
}
.player button{
	bottom: 225px;
	left: calc(50% - 100px);
	position: absolute;
	width: 200px
}