.cards{
	position: absolute;
	text-align: center;
	width: 100%;
}
.p1 .cards{
	top: 80px;
}
.p2 .cards{
	bottom: 70px;
}
.cards.flop{
	top: calc(50% - 58px);
}
.cards img{
	cursor: pointer;
	display: inline-block;
	width: 80px;
}
.p1 .cards img.chosen{
	opacity: 0.75;
}
button{
	position: absolute;
	top: 150px;
}