.dash-column{
	float: left;
	height: calc(100% - 120px);
	padding: 0 3%;
	width: 33.3333%;
}
.dash-column h1{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.games{
	height: 100%;
	user-select: none;
	width: 100%;
}
.games th{
	background: #FFF;
	border: 1px solid #FFF;
	color: #000;
	font-size: 16px;
	padding: 8px;
}
.games td{
	border: 1px solid #CCC;
	padding: 5px;
}
.games tr{
	cursor: pointer;
}
.games tr:hover{
	background: #666;
}
.games tr:last-child td{
	border-bottom: none;
}