.dash-column{
	float: left;
	height: calc(100% - 120px);
	padding: 0 3%;
	width: 33.3333%;
}
.dash-column h1{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.games{
	height: 100%;
	user-select: none;
	width: 100%;
}
.games th{
	background: #FFF;
	border: 1px solid #FFF;
	color: #000;
	font-size: 16px;
	padding: 8px;
}
.games td{
	border: 1px solid #CCC;
	padding: 5px;
}
.games tr{
	cursor: pointer;
}
.games tr:hover{
	background: #666;
}
.games tr:last-child td{
	border-bottom: none;
}


.modal-bg{
	background: rgba(0,0,0,0.85);
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 998;
}
.modal{
	background: #666;
	border-radius: 20px;
	height: 300px;
	left: calc(50% - 200px);
	margin: 0px auto;
	padding: 20px;
	position: fixed;
	top: calc(50% - 150px);
	width: 400px;
	z-index: 999;
}
.modal p{
	margin-bottom: 20px;
}