body {
  background: mediumseagreen;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.Header{
  background: red;
  height: 60px;
  line-height: 60px;
}
.Header a{
  color: white;
}

.main{
  flex: 1;
}
.Footer{
  background: red;
  height: 40px;
  line-height: 40px
}
.Footer p{
  color: white;
  margin: 0;
}
