body {
	background: mediumseagreen;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cards{
	position: absolute;
	text-align: center;
	width: 100%;
}
.cards.p1{
	top: 20px;
}
.cards.p2{
	bottom: 20px;
}
.cards.flop{
	top: calc(50% - 73px);
}
.cards img{
	cursor: pointer;
	display: inline-block;
	width: 100px;
}
.cards.p1 img.chosen{
	opacity: 0.5;
}
.cards img:hover{
	opacity: 0.7;
}
