.Authenticate{
	background: #DDD;
	border: 1px solid #333;
	margin: 0px auto;
	position: relative;
	text-align: left;
  	top: 50px;
  	width: 500px;
}

.auth{
	overflow: auto;
}
.auth-column{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	float: left;
	height: 100vh;
	justify-content: center;
	padding: 0 5%;
	text-align: left;
	width: 60%;
}

/* LOGIN SPLASH INFO */
.auth-title{
	font-size: 112px;
	font-weight: bold;
	line-height: 112px;
	margin-top: -20px;
}
.auth-subtitle{
	font-size: 36px;
	font-weight: 300;
	margin-top: 24px;
}

/* LOGIN/REGISTER FORM*/
.auth-info{
	float: right;
	text-align: center;
	width: 40%;
}
.auth-box{
	background: seagreen;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 3px 7px 10px #000;
	padding: 30px 30px 0 30px;
}
.auth-switch{
	float: right;
	margin-top: -20px;
}
.auth-switch a{
	color: black;
	font-size: 16px;
}
.auth-box input[type=submit]{
	font-size: 20px;
	margin: 40px -30px 0 -30px; 
	width: calc(100% + 60px);
}

@media only screen and (max-width: 1000px){
	.auth-column{
		text-align: center;
		width: 100%;
	}
	.auth-title{
		font-size: 60px;
		line-height: 60px;
	}
	.auth-subtitle{
		font-size: 24px;
	}
}

